<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shopping_point.user_shopping_point">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.shopping_point.user_shopping_point.view.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="com.shopping_point.user_shopping_point.view.ProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.shopping_point.user_shopping_point.view.LoginActivity"
          android:theme="@style/AppTheme.NoActionBar"  />

        <activity
            android:name="com.shopping_point.user_shopping_point.view.SignUpActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.shopping_point.user_shopping_point.view.DetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.AllMobilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.AllMobilesActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.AllLaptopsActivity"
            android:label="@string/all_laptops"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.AllMobilesActivity"
            android:label="@string/all_mobiles"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.CartActivity"
            android:label="@string/cart"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.WishListActivity"
            android:label="@string/my_wishList"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.AccountActivity"
            android:label="@string/my_account"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity"
            android:theme="@style/AccountTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.AddProductActivity"
            android:label="@string/add_product"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.HelpActivity"
            android:label="@string/help_center"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.AllReviewsActivity"
            android:label="@string/reviews"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.DetailsActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.WriteReviewActivity"
            android:label="@string/write_review"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.DetailsActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.PasswordActivity"
            android:label="@string/change_password"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.AccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.AccountActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.CategoryActivity"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.PasswordAssistantActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.shopping_point.user_shopping_point.view.AuthenticationActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.shopping_point.user_shopping_point.view.NewsFeedActivity"
            android:label="@string/news_feed"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity android:name="com.shopping_point.user_shopping_point.view.ShippingAddressActivity" />
        <activity android:name="com.shopping_point.user_shopping_point.view.OrderProductActivity" />
        <activity
            android:name="com.shopping_point.user_shopping_point.view.OrdersActivity"
            android:label="@string/orders"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.ProductActivity" />
        </activity>
        <activity
            android:name="com.shopping_point.user_shopping_point.view.StatusActivity"
            android:label="@string/status"
            android:parentActivityName="com.shopping_point.user_shopping_point.view.OrdersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shopping_point.user_shopping_point.view.OrdersActivity" />
        </activity>

        <activity android:name="com.shopping_point.user_shopping_point.view.SearchActivity" android:theme="@style/noAnimTheme" />
        <activity android:name="com.shopping_point.user_shopping_point.view.ResultActivity"/>

        <receiver android:name="com.shopping_point.user_shopping_point.receiver.NetworkChangeReceiver" />
    </application>

</manifest>